{{#if isOwner}}
{{else}}
  {{#if isSelected}}
      <form>
        <label for="">Your message: </label>
        {{input value=msg}}
      </form>
      <button type="button" {{action 'sendApplication'}}>Submit</button>
      <button type="button" {{action 'showForm'}}>Undo</button>
    {{else}}
    <button type="button" {{action 'showForm'}}>Apply</button>
  {{/if}}
{{/if}}
