{{#if isOwner}}
  {{#if post.isOpen}}
    <h3>Applications: </h3>
      {{#each post.applications as |application|}}
      <h5>Candidate:
      {{#link-to 'solvr' application.user.id}}
        {{application.user.firstName}} {{application.user.lastName}}
      {{/link-to}}
      {{choose-solvr sendSolvr="sendSolvr" solvr=application.user}}
      </h5>
      {{/each}}
      <p>{{application.msg}}</p>
    {{else}}
      <h3>Solved by:
        {{#link-to 'solvr' application.user.id}}
          {{post.solvr.firstName}} {{application.solvr.lastName}}
        {{/link-to}}
      </h3>
    {{/if}}
{{else}}
  {{#if hasApplied}}
    <p>You already applied for this.</p>
    <button type="button" {{action 'sendUnapply'}}>Withdraw Application</button>
      {{else}}
      {{#if isSelected}}
          <form>
            <label for="">Your message: </label>
            {{input value=msg}}
          </form>
          <button type="button" {{action 'sendApplication'}}>Submit</button>
          <button type="button" {{action 'showForm'}}>Undo</button>
        {{else}}
        {{#if post.isOpen}}
        <button type="button" {{action 'showForm'}}>Apply</button>
        {{/if}}
      {{/if}}
  {{/if}}
{{/if}}
