{{#if isSelected}}
  <form>
    <label for="title">Problem Name: </label>
    {{input value=title}}
    <label for="location">Location: </label>
    {{input value=location}}
    <label for="reward">Reward: $</label>
    {{input value=reward type=number}}
    <label for="description">Description: </label>
    {{input value=description}}
    <button class="waves-effect waves-light btn green" type="button" {{action 'submitForm'}}>Submit</button>
    <button class="waves-effect waves-light btn green" type="button" {{action 'showForm'}}>X</button>
  </form>
  {{else}}
    <button class="waves-effect waves-light btn green" type="button" {{action 'showForm'}}>New Post</button>
  {{/if}}
