<!-- <div class="content"> -->

<div class="navbar-fixed nav">
    <nav class="black">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Solvr</a>
        <ul class="right hide-on-med-and-down">

          <li>
            {{#if session.isAuthenticated}}
              {{#link-to 'profile' session.uid}}
                {{fa-icon 'user'}} Profile
              {{/link-to}}
              <a {{action 'signOut'}}>
                {{fa-icon 'sign-out'}} Sign Out
              </a>
              <li>
                {{#link-to 'postboard'}}
                  {{fa-icon 'comments-o'}} Posts
                {{/link-to}}
              </li>
              {{else}}
              <li>
                {{#link-to 'sign-up' class='list-group-item'}}
                  {{fa-icon 'user-plus'}} Sign Up
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'sign-in' class='list-group-item'}}
                  {{fa-icon 'sign-in'}} Sign In
                {{/link-to}}
              </li>
            {{/if}}
          </li>

        </ul>
      </div>
    </nav>
  </div>
<!-- </div> -->


  {{outlet}}


<footer>
</footer>

{{md-modal-container}}
