<div class="container">
  <div class="individualPost">
    <div class="">
    {{outlet}}
      <h2>{{model.post.title}} - By: {{model.post.user.firstName}} {{model.post.user.lastName}}</h2>
    <h3>{{date-format model.post.date}}</h3>
    <p>{{model.post.description}}</p>
    <p>Reward: ${{model.post.reward}}</p>
    {{post-map post=model.post}}
    <br>
    </div>
  </div>
</div>
