
<div class="backgroundImage2"></div>
{{outlet}}
<div class="container">
  <div class="profileBox z-depth-2">

    <h3>Welcome {{model.user.[0].firstName}} {{model.user.[0].lastName}}!</h3>
    <h5>Email: {{model.user.[0].email}}</h5>
    <h5>Address: {{model.user.[0].address}}</h5>
    <h5>Phone Number: {{model.user.[0].phoneNumber}}</h5>
    <h5>Skills: {{model.user.[0].skills}}</h5>
    <br>
  </div>

  <div class="row">
    <div class="col s3">
      {{new-post sendPost="savePost" user=model.user.[0]}}
    </div>
    <!-- <div class="col s3">
      {{update-profile update="update" user=model.user.[0]}}
    </div> -->
  </div>
  <hr />
  <div class="card">
    <div class="posts">
      <h2>My Posts : </h2>
      {{#each model.user.[0].posts as |post|}}
      {{#if post.isOpen}}
      {{post-tile post=post}}
      {{/if}}
      {{/each}}
    </div>
    <div class="applications">
      <h3>My applications</h3>
      {{application-list applications=model.user.[0].applications}}
      {{user.post}}
    </div>
  </div>

</div>
