<div class="container">

  <div>
      <h1>Sign Up</h1>
  </div>

  <form class="input-field">
    <div class="input-field">
      <label for="email">Email</label>
      {{input value=email type="email"}}
    </div>

    <div class="input-field">
      <label for="password">Password</label>
      {{input value=password type="password"}}
    </div>

    <div class="input-field">
      <label for="firstName">First Name</label>
      {{input value=firstName}}
    </div>

    <div class="input-field">
      <label for="lastName">Last Name</label>
      {{input value=lastName}}
    </div>

    <div class="input-field">
      <label for="address">Address</label>
      {{input value=address}}
    </div>

    <div class="input-field">
      <label for="phoneNumber">Phone Number</label>
      {{input value=phoneNumber}}
    </div>

    <div class="input-field">
      <label for="skills">Skills</label>
      {{input value=skills}}
    </div>

    <button class="waves-effect waves-light btn black" {{action 'signUp'}}>
        {{fa-icon 'user-plus'}} Sign Up
    </button>
  </form>

</div>
