<div class='page-header'>
    <h1>Sign Up</h1>
</div>
{{input
    type='text'
    class='form-control'
    value=email
    placeholder='email'
}}
{{input
    type='password'
    class='form-control'
    value=password
    placeholder='password'
}}

<form>
   <div class="input-field">
     <label for="firstName">First Name </label>
     {{input type="text" value=firstName}}
   </div>
   <div class="input-field">
     <label for="lastName">Last Name</label>
     {{input type="text" value=lastName}}
   </div>
   <div class="input-field">
     <label for="address">Address</label>
     {{input type="text" value=address}}
   </div>
   <div class="input-field">
     <label for="phoneNumber">Phone Number</label>
     {{input type="text" value=phoneNumber}}
   </div>
   <div class="input-field">
     <label for="skills">Skills</label>
     {{input type="text" value=skills}}
   </div>
   <!-- <button class="btn"{{action 'addProfile'}}>Submit</button> -->
 </form>
<button
    class='btn btn-default'
    {{action 'signUp'}}
>
    {{fa-icon 'user-plus'}} Sign Up
</button>
