<div class="backgroundImage2"></div>
{{outlet}}
<div class="profileBox">
  <h3>{{model.user.firstName}} {{model.user.lastName}}</h3>
  <h5>Email: {{model.user.email}}</h5>
  <h5>Address: {{model.user.address}}</h5>
  <h5>Phone Number: {{model.user.phoneNumber}}</h5>
  <h5>Skills: {{model.user.skills}}</h5>
  <br>
</div>
<div class="posts">
  <h2>{{model.user.firstName}}'s Posts : </h2>
  {{#each model.user.posts as |post|}}
  {{post-tile post=post}}
  {{/each}}
</div>
